@{ ViewData["Title"] = "User Profile"; }

<div class="infoblock">
        <form id="logout" action="/logout" method="post">
            <input type="submit" value="Logout">
        </form>

        <form id="logout" action="/bright_ideas" method="get">
            <input type="submit" value="Bright Ideas">
        </form>

</div>



<div class="infoblock">
    <h3>Name: @ViewBag.user.name</h3>
    <h3>Alias: @ViewBag.user.alias</h3>  
    <h3>Email: @ViewBag.user.email</h3>  
</div>

<div class="infoblock">
    <p>Total Number of Posts: @ViewBag.user.posts</p>
    <p>Total Number of Votes: @ViewBag.user.likes<p>
</div>